<div fxLayout="row" fxLayoutAlign="center start" fxLayoutWrap="wrap">
  <div fxFlex="90">
    <mat-card>
      <mat-card-content>
        <h3>Worker Edit</h3>
        <div>Worker id: {{ worker.id }}</div>        
        <mat-form-field>
          <input matInput placeholder="Imię" [(ngModel)]="worker.firstName">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Nazwisko" [(ngModel)]="worker.lastName">
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="Select">
            <mat-option value="m">Mężczyzna</mat-option>
            <mat-option value="f">Kobieta</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button>Zapisz</button>
        <button mat-button>Anuluj</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>



