<div fxLayout="row" fxLayoutAlign="center start" fxLayoutWrap="wrap">
  <div fxFlex="90">
    <form [formGroup]="workerForm" novalidate>      
      <mat-card>
        <mat-card-content>
          <h3>Worker Edit</h3>
          <div>Worker id: {{ workerId }}</div>        
          <mat-form-field>
            <input matInput placeholder="Imię" formControlName="firstName">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Nazwisko" formControlName="lastName">
          </mat-form-field>
          <mat-form-field>
            <mat-select placeholder="Select" formControlName="gender">
              <mat-option value="m">Mężczyzna</mat-option>
              <mat-option value="f">Kobieta</mat-option>
            </mat-select>
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button>Zapisz</button>
          <button mat-button>Anuluj</button>
        </mat-card-actions>
      </mat-card>
    </form>  
  </div>
</div>

<p>Form value: {{ workerForm.value | json }}</p>
<p>Form status: {{ workerForm.status | json }}</p>
<p>First name value: {{ workerForm.get('firstName').value }}</p>