<div style="text-align:center">
  <h1>{{ pageTitle }}</h1>
</div>

<div fxLayout="row" fxLayoutAlign="center start" fxLayoutWrap="wrap">
  <div fxFlex="90">
    <form [formGroup]="workerForm" (ngSubmit)="saveWorker(workerForm.value)" novalidate>      
      <mat-card>
        <mat-card-content>
          <div>Worker id: {{ workerId }}</div>
          <div fxLayout="row" fxLayoutAlign="center center" fxLayoutWrap="wrap">
            
            <div fxFlex>
              <mat-form-field>
                <input matInput placeholder="Imię" formControlName="firstName">
                <mat-error *ngIf="!workerForm.controls['firstName'].valid">To pole jest <strong>wymagane</strong>.</mat-error>
              </mat-form-field>
            </div>
            
            <div fxFlex>
              <mat-form-field>
                <input matInput placeholder="Nazwisko" formControlName="lastName" maxlength="1">
                <mat-hint>Pierwsza litera nazwiska</mat-hint>
                <mat-error *ngIf="!workerForm.controls['lastName'].valid">To pole jest <strong>wymagane</strong>.</mat-error>
              </mat-form-field>
            </div>
            
            <div fxFlex>
              <mat-form-field>
                <mat-select placeholder="Select" formControlName="gender">
                  <mat-option value="m">Mężczyzna</mat-option>
                  <mat-option value="f">Kobieta</mat-option>
                </mat-select>
                <mat-error *ngIf="!workerForm.controls['gender'].valid">To pole jest <strong>wymagane</strong>.</mat-error>
              </mat-form-field>
            </div>
          
          </div>
        </mat-card-content>
        
        <mat-card-actions>
          <button type="submit" mat-button [disabled]="!workerForm.valid">Zapisz</button>
          <button mat-button (click)="goToWorkers()">Anuluj</button>
        </mat-card-actions>
      
      </mat-card>
    </form>  
  </div>
</div>

<p>Form value: {{ workerForm.value | json }}</p>
<p>Form status: {{ workerForm.status | json }}</p>
<p>First name value: {{ workerForm.get('firstName').value }}</p>