<div fxLayout="row" fxLayoutAlign="center start" fxLayoutWrap="wrap" *ngIf="device | async as device; else loading">

  <div fxFlex="90" style="text-align:center">
    <h1>{{ device.name }}</h1>
  </div>
  
  <div fxFlex="90">
    <mat-card>
      <mat-card-header>
        <mat-toolbar>
          <span><mat-icon color="accent" class="device-icon">{{ device.type.icon }}</mat-icon></span>
          <span>{{ device.name }}</span>
          <span class="spacer"></span>
          <button mat-button routerLink="/deviceedit/{{ deviceId }}" matTooltip="Edytuj"><mat-icon>edit</mat-icon></button>
        </mat-toolbar>
      </mat-card-header>
      <mat-card-content>
        <p>Id: <strong>{{ deviceId }}</strong></p>
        <p>Nazwa: {{ device.name }}</p>
        <p>Typ: {{ device.type.name }}</p>
      </mat-card-content>
    </mat-card>
  </div>
  
  <div fxFlex="90">
    <mat-card>
      <mat-card-header>
        <mat-toolbar>
          <span>Użytkownik</span>
          <span class="spacer"></span>
          <button mat-button (click)="openDialog()" matTooltip="Przekaż sprzęt"><mat-icon>swap_horiz</mat-icon></button>
        </mat-toolbar>
      </mat-card-header>
      <mat-card-content>
        <div *ngIf="device.workerId">
          <div *ngIf="worker | async as worker; else loading">
            {{ worker.firstName }} {{ worker.lastName }}
          </div>
        </div>
        <div *ngIf="!device.workerId">Brak - urządzenie w magazynie</div>
      </mat-card-content>
    </mat-card>
  </div>

</div>
  
<ng-template #loading>
  <app-loading-spinner></app-loading-spinner>
</ng-template>