.worker {
    margin-left: 10px;
}

.red-icon {
    color: red;
}

.right {
    text-align: right;
}

.fab-buttom {
    position: fixed;
    bottom: 30px;
    right: 30px;
}

.workers-list {
    margin-bottom: 30px;
}