<div style="text-align:center">
  <h1>{{ pageTitle }}</h1>
</div>

<div fxLayout="row" fxLayoutAlign="center start" fxLayoutWrap="wrap">
  <div fxFlex="90">
    <form [formGroup]="deviceForm" (ngSubmit)="saveDevice()" novalidate>
      <mat-card>
        <mat-card-content>
          <div>Device id: {{ deviceId }}</div>
          <div fxLayout="row" fxLayoutAlign="center center" fxLayoutWrap="wrap">
            <div fxFlex="25" fxFlex.sm="50" fxFlex.xs="100">
              <mat-form-field>
                <input matInput placeholder="Nazwa" formControlName="name">
                <mat-error *ngIf="!deviceForm.controls['name'].valid">To pole jest <strong>wymagane</strong>.</mat-error>
              </mat-form-field>
            </div>
            <div fxFlex="25" fxFlex.sm="50" fxFlex.xs="100">
              <div formGroupName="type">
                <mat-form-field>
                  <mat-select placeholder="Typ urządzenia" formControlName="id" (selectionChange)="onTypeSelected()">
                    <mat-option *ngFor="let type of deviceTypes | async" value="{{ type.id }}">{{ type.name }}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div fxFlex="25" fxFlex.sm="50" fxFlex.xs="100">
              <mat-form-field>
                <input matInput placeholder="JIM" formControlName="jim">
              </mat-form-field>
            </div>
            <div fxFlex="25" fxFlex.sm="50" fxFlex.xs="100">
              <mat-form-field>
                <input matInput placeholder="Numer seryjny" formControlName="serialNumber">
              </mat-form-field>
            </div>
            <div fxFlex="25" fxFlex.sm="50" fxFlex.xs="100">
              <mat-form-field>
                <input matInput placeholder="Dowód urządzenia" formControlName="document">
              </mat-form-field>
            </div>
            <div fxFlex="25" fxFlex.sm="50" fxFlex.xs="100">
              <mat-form-field>
                <input matInput placeholder="Przyjęcie z magazynu" formControlName="voucherIn">
              </mat-form-field>
            </div>
            <div fxFlex="25" fxFlex.sm="50" fxFlex.xs="100">
              <mat-form-field>
                <input matInput placeholder="Ilość" formControlName="quantity" type="number">
              </mat-form-field>
            </div>
            <div fxFlex="25" fxFlex.sm="50" fxFlex.xs="100">
              <mat-form-field>
                <input matInput placeholder="Zdjęcie" formControlName="image">
              </mat-form-field>
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button type="submit" mat-button [disabled]="!deviceForm.valid">Zapisz</button>
          <button mat-button (click)="goToDevices()">Anuluj</button>
        </mat-card-actions>
      </mat-card>
    </form>
  </div>
</div>

<p>Form value: {{ deviceForm.value | json }}</p>
<p>Form status: {{ deviceForm.status | json }}</p>