@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Muli:300');

body {
    margin: 0;
    padding: 0;
    /*font-family: Roboto,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;*/
    /* font-family: 'Open Sans', sans-serif !important;     */
    font-family: 'Muli', Roboto, sans-serif;
    /* background-color: #fafafa; */
}

.mat-card, .mat-button, .mat-form-field, .mat-list-item, .mat-toolbar, .mat-select, .mat-option {
    font-family: 'Muli', Roboto, sans-serif;
}