<div fxLayout="row" fxLayoutAlign="center start" fxLayoutWrap="wrap">

  <div fxFlex="80">
    <mat-card>
      <mat-card-header>
        <mat-toolbar>
          <span>{{ worker.firstName }} {{ worker.lastName }}</span>
          <span class="spacer"></span>
          <button mat-button routerLink="/workeredit/{{ worker.id }}"><mat-icon>edit</mat-icon></button>
        </mat-toolbar>
      </mat-card-header>
      <mat-card-content>
        <p>Id: <strong>{{ worker.id }}</strong></p>
        <p>Imię: {{ worker.firstName }}</p>
        <p>Nazwisko: {{ worker.lastName }}</p>
        <p>Płeć: {{ worker.gender }}</p>
      </mat-card-content>
    </mat-card>
  </div>
  
  <div fxFlex="80">
    <mat-card>
      <mat-card-header>
        <mat-toolbar>Posiadany sprzęt</mat-toolbar>
      </mat-card-header>
      <mat-card-content>
        {{ worker.gender }}
      </mat-card-content>
    </mat-card>
  </div>

</div>