<div style="text-align:center">
  <h1>Strona główna</h1>
</div>

<div fxLayout="row" fxLayoutAlign="center start" fxLayoutWrap="wrap">
  <div fxFlex="90">    
    <mat-card>
      <mat-card-content>
        <h3>Do zrobienia:</h3>
        <mat-list>
          <mat-list-item>Sprawdzić i uzupełnić pola w obiekcie Device</mat-list-item>
          <mat-list-item>Zrobić formularz dodawania / edycji Device</mat-list-item>
          <mat-list-item>Dokończyć CRUD w Device</mat-list-item>
          <mat-list-item>Poprawić routing - children</mat-list-item>
          <mat-list-item>W komponencie DeviceDetail dodać możliwość przypisania użytkownika</mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>
</div>