.device-image {
    border-top: 1px solid #eeeeee;
}

.device-icon {
    font-size: 40px;
}

.mat-card {
    margin-bottom: 10px;
    text-decoration: none;
}

.mat-card:hover {
    background-color: #fafafa;
}

.device-link {
    text-decoration: none;
}

.fab-buttom {
    position: fixed;
    bottom: 30px;
    right: 30px;
}