<div style="text-align:center">
  <h1>Sprzęty w magazynie</h1>
</div>

<div fxLayout="row" fxLayoutAlign="center start" fxLayoutWrap="wrap" *ngIf="devices | async as devices; else loading">
  
  <div fxFlex="90">
    
    <div fxLayout="row" fxLayoutWrap="wrap">

      <div fxFlex="25" fxFlex.sm="50" fxFlex.xs="100" *ngFor="let device of devices">

        <div style="padding: 3px">
        <a routerLink="/devices/{{ device.id }}" class="device-link">
          <mat-card>
            <mat-card-header>
              <!-- <div mat-card-avatar><mat-icon color="accent" class="device-icon">{{ device.type.icon }}</mat-icon></div> -->
              <mat-card-title>{{ device.name }}</mat-card-title>
              <!-- <mat-card-subtitle>{{ device.type.name }}</mat-card-subtitle> -->
            </mat-card-header>
            <mat-card-content>
              <p>{{ device.name }}</p>
            </mat-card-content>
          </mat-card>
        </a>
        </div>

      </div>

    </div>

  </div>

</div>

<div class="fab-buttom" *ngIf="!showSpinner">
  <button mat-fab routerLink="/deviceedit">
    <mat-icon class="add-button">add</mat-icon>
  </button>
</div>

<ng-template #loading>
  <app-loading-spinner></app-loading-spinner>
</ng-template>

<div *ngFor="let device of devices | async">
  <p>{{ device.id }}</p>
  <p>{{ device.name }}</p>
  <p>{{ device.type | json }}</p>
</div>